.header {
  background: var(--white);
  position: sticky;
  top: 0;
  z-index: 100;
}

.inner {
  max-width: 100%;
  margin: 0 128px;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.02em;
  text-decoration: none;
  color: var(--text);
}

.nav {
  display: flex;
  gap: 28px;
}

.link {
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
}

.link:hover,
.link:active {
  color: var(--text-transparent);
}

.textButton {
  display: flex;
  align-items: center;
  gap: 8px;
}

.textButton svg {
  stroke: var(--yellow);
  fill: none;
}
.actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link {
  color: var(--text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-decoration: none;
}

.active {
  font-weight: 700;
  color: var(--yellow);
}

.textButton {
  background: none;
  border: none;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  cursor: pointer;
  padding: 0;
}

.textButton:hover,
.textButton:active {
  color: var(--text-transparent);
}

.registerButton {
  width: 166px;
  height: 48px;
  padding: 14px 39px;
  border: none;
  border-radius: 12px;
  background-color: var(--text);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  cursor: pointer;
}

.registerButton:hover,
.registerButton:active {
  background-color: var(--text-transparent);
}
